﻿@model ScaleService.WeightDTO

@{
    ViewBag.Title = "Peso en Báscula " + ViewBag.Id;
}

<div class="page-header"><h2>Peso en Báscula @ViewBag.Id</h2></div>

<p>@Html.ActionLink("Ir a Lista de Básculas.", "Index")</p>
<p>@Html.ActionLink("Ir a seleccionar Computador de Báscula.", "Index", "Home")</p>

<fieldset>
    <legend></legend>
    <div class="display-label">
        Peso
    </div>
    <div class="display-field">
        <h3>@Html.DisplayFor(model => model.Weight)</h3>
    </div>

    <div class="display-label">
        Estado: @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
        Mensaje: [ @Model.Message.TypeEnum - @Model.Message.TransactionNumber ] @Model.Message.Message
    </div>
</fieldset>

<p> </p>
<div class="alert alert-info"><p> Tiempo para completar la consulta: @ViewBag.QueryTime</p></div>
