﻿@model IEnumerable<ScaleService.ScaleDTO>

@{
    ViewBag.Title = "Lista de Básculas en " + Session["hostName"];
}

<div class="page-header"><h1>Lista de Basculas en @Session["hostName"]</h1></div>

<p>@Html.ActionLink("Ir a Lista de Protocolos.", "Index", "Protocols")</p>
<p>@Html.ActionLink("Ir a seleccionar Computador de Báscula.", "Index", "Home")</p>
<p>@Html.ActionLink("Reiniciar servicio de basculación.", "Restart", "Scales")</p>


@if(@TempData["info"] != null) { <div class="alert alert-info"><p>@TempData["info"]</p></div> }

<table class="table table-striped">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Habilitado
        </th>
        <th>
            Modo de Comunicación
        </th>
        <th>
            Protocolo de Báscula
        </th>
        <th>
            Variación de Peso
        </th>
        <th>
            Configuración IP
        </th>
        <th>
            Configuración Serial
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComunicationMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentProtocol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightVariation)
            </td>
            <td>
                @if(item.SocketInfo != null)
                {
                    @: @item.SocketInfo.Address : @item.SocketInfo.Port
                }
            </td>
            <td>
                @{
                    string displayText = "";
                    if(item.ComPortInfo != null)
                    {
                        displayText = item.ComPortInfo.PortName + "  " + item.ComPortInfo.BaudRate + " - " + @item.ComPortInfo.DataBits + " - " + item.ComPortInfo.StopBits + " - " + item.ComPortInfo.Parity;
                    }
                }
                @displayText
            </td>
            <td>
                @Html.ActionLink("Peso", "GetWeight", new { id=item.Code })
                @Html.ActionLink("Editar", "Edit", new { id=item.Code })
            </td>
        </tr>
    }
</table>

<p> </p>
<div class="alert alert-info"><p> Tiempo para completar la consulta: @ViewBag.QueryTime</p></div>