﻿<div class="panel panel-primary">
    <div class="panel-heading ">
        <h3 class="panel-title">
            Máquinas Controladoras de Básculas
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>Punto de Acceso</th>
                <th>Sucursales</th>
            </tr>
            <tbody ng-repeat="machine in MachineList">
                <tr>
                    <td><a href="#/controllerMachines/{{machine.IpEndPoint}}">{{machine.IpEndPoint}}<a/></td>
                    <td><span ng-repeat="subsidiary in machine.Subsidiaries"><span class="label label-info">{{subsidiary.Name}}</span>&nbsp;</span></td>
                </tr>
            </tbody>

            <tr ng-show="MachineListIsLoading">
                <td align="center" colspan="2">
                    <img src="img/ajax-loader.gif" />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="alert alert-danger" ng-show="ErrorMessage">{{ErrorMessage}}</div>