﻿<p>
    <button class="btn btn-primary" ng-click="go('/controllerMachines/' + IpEndPoint)">Regresar</button>
</p>

<div class="panel panel-primary">
    <div class="panel-heading ">
        <h3 class="panel-title">
            {{PanelTitle}}
        </h3>
    </div>
    <div class="panel-body">
        <div ng-show="IsLoading" align="center">
            <img src="img/ajax-loader.gif" />
        </div>
        <form name="ScaleForm" class="form-horizontal" ng-show ="ShowForm" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : ScaleForm.code.$invalid && !ScaleForm.code.$pristine }">
                <label for="code" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-10">
                    <input type="text" name="code" class="form-control" placeholder="Código" ng-disabled="CodeEditDisabled" ng-model="Scale.Code" required />
                    <p ng-show="ScaleForm.code.$invalid" class="help-block">El código es requerido.</p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">Descripción</label>
                <div class="col-sm-10">
                    <input type="text" id="description" class="form-control" placeholder="Descripción" ng-model="Scale.Description" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="protocol" class="col-sm-2 control-label">Protocolo</label>
                <div class="col-sm-10">
                    <input type="text" id="protocol" class="form-control" placeholder="Protocolo" ng-model="Scale.Protocol" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input id="enabled" type="checkbox" value="" ng-model="Scale.Enabled" />
                            Habilitada
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="communicationMode" class="col-sm-2 control-label">Modo de Comunicación</label>
                <div class="col-sm-10">
                    <select id="communicationMode" class="form-control" ng-model="Scale.CommunicationMode" required >
                        <option value="socket">Socket</option>
                        <option value="com">Serial</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : ScaleForm.weightPrecision.$invalid && !ScaleForm.weightPrecision.$pristine }">
                <label for="weightPrecision" class="col-sm-2 control-label">Variación de Peso</label>
                <div class="col-sm-10">
                    <input type="number" name="weightPrecision" class="form-control" placeholder="Variación de Peso" ng-model="Scale.WeightPrecision" required />
                    <p ng-show="ScaleForm.weightPrecision.$invalid" class="help-block">La variación de peso es requerida.</p>
                </div>
            </div>
            
            <fieldset>
                <legend>Configuración IP</legend>
                <div class="form-group">
                    <label for="socketAddress" class="col-sm-2 control-label">Nombre del Host:</label>
                    <div class="col-sm-10">
                        <input type="text" id="socketAddress" class="form-control" placeholder="Nombre del Host" ng-model="Scale.SocketConfiguration.Address" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="socketPort" class="col-sm-2 control-label">Nombre del Host:</label>
                    <div class="col-sm-10">
                        <input type="number" id="socketPort" class="form-control" placeholder="Puerto" ng-model="Scale.SocketConfiguration.Port" />
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Configuración Serial</legend>
                <div class="form-group">
                    <label for="serialPortName" class="col-sm-2 control-label">Nombre del Puerto</label>
                    <div class="col-sm-10">
                        <select id="serialPortName" class="form-control" ng-model="Scale.SerialConfiguration.PortName" >
                            <option>COM1</option>
                            <option>COM2</option>
                            <option>COM3</option>
                            <option>COM4</option>
                            <option>COM5</option>
                            <option>COM6</option>
                            <option>COM7</option>
                            <option>COM8</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="serialBaudRate" class="col-sm-2 control-label">BaudRate</label>
                    <div class="col-sm-10">
                        <select id="serialBaudRate" class="form-control" ng-model="Scale.SerialConfiguration.BaudRate" >
                            <option>300</option>
                            <option>600</option>
                            <option>1200</option>
                            <option>2400</option>
                            <option>4800</option>
                            <option>9600</option>
                            <option>19200</option>
                            <option>38400</option>
                            <option>57600</option>
                            <option>115200</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="serialDataBits" class="col-sm-2 control-label">Bits de Datos</label>
                    <div class="col-sm-10">
                        <select id="serialDataBits" class="form-control" ng-model="Scale.SerialConfiguration.DataBits" >
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="serialStopBits" class="col-sm-2 control-label">Bits de Parada</label>
                    <div class="col-sm-10">
                        <select id="serialStopBits" class="form-control" ng-model="Scale.SerialConfiguration.StopBits" >
                            <option value="none">0</option>
                            <option value="one">1</option>
                            <option value="onepointfive">1.5</option>
                            <option value="two">2</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="serialParity" class="col-sm-2 control-label">Paridad</label>
                    <div class="col-sm-10">
                        <select id="serialParity" class="form-control" ng-model="Scale.SerialConfiguration.Parity" >
                            <option value="none">None</option>
                            <option value="even">Even</option>
                            <option value="odd">Odd</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            
            <p>
                <button class="btn btn-primary" ng-click="Save(Scale, IpEndPoint)" ng-disabled="ScaleForm.$invalid">Guardar</button>
                <button class="btn btn-default" ng-click="go('/controllerMachines/' + IpEndPoint)">Cancelar</button>
            </p>
        </form>
    </div>
</div>

<div class="alert alert-danger" ng-show="ErrorMessage">{{ErrorMessage}}</div>